/* CSS Document */

html {
	background-color: #FFF;
	background-image: url('../images/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	}
body{background-image: url('../images/bg.jpg');
    background-repeat:0px 0px
    background-repeat: no-repeat;
    background-size: cover;
padding-top:40px;background-color:#fff;}
#login {
    /* padding: 14% 0 0; */
    padding:20px;
    width: 900px;
    background-color: rgb(255, 255, 255,.96);
    border-radius:10px;
    box-shadow:1px 1px 8px 8px #ccc;
}
.login label{ color:#FFF !important;}
#login h1{ text-align:center;}
#login h3{color: #010101;text-align:center;width:100%;display: block;/* clear: both; */font-size: 18px;/* font-family: "Times New Roman", Times, serif; */font-weight:400;}
#login h3 span{font-weight: bolder !important; font-size:28px;} 
.login h1 a {
    background-image: url("../images/logo-new.png") !important;
    background-position: -8px top;
    background-repeat: no-repeat;
    background-size: inherit;
    height: 400px !important;
    width: 400px !important;
}
.login h1 a {
    float: left;
    margin: 20px auto 0 30px;
}
#lostpasswordform{ background-color:#CC0000 !important; border-radius:8px !important; margin-top:54px !important;}
#login form{
    background-image: url("../images/info-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#login form {
    background-color: #22c5ed;
    padding: 30px 70px;
    width: 300px;
    border-radius:10px;
}
.login form {
	/* background-image: url("../images/info-bg.png"); */
	/* background: #fff none repeat scroll 0 0; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	font-weight: 400;
	margin-left: 0;
	margin-top: 20px;
	overflow: hidden;
	padding: 26px 24px 46px;
}


.login #backtoblog, .login #nav {
    margin-right: 35px;
    margin-top: 10px;
    text-align: right;
}


.login #backtoblog, .login #nav {
    margin-right: 35px;
    margin-top: 10px;
    text-align: right;
}
.login #backtoblog, .login #nav {
    font-size: 13px;
    padding: 0 24px;
}
.wp-core-ui .button-primary, .button{
	background-color:#000000 !important;
	border:#000000 1px solid !important;
	width:140px !important;
	}

.wp-core-ui .button-primary{box-shadow:none !important;}

.wp-core-ui .button-primary:hover{background-color:#666;}
.message-view{padding:8px;background-color:#FFF;margin-top:-70px;text-align:center;display: none;}
#login_error{ margin-top:-100px;}
/*.message{ margin-top:-60px !important;}*/

@media (min-width: 100px) and (max-width: 600px) {
#login form{ border-radius:0px;}	
body{ padding:0px; }	
#login{width:100% !important;padding: 0px;margin: auto;box-shadow:none !important; border-radius:0px;}
.login h1 a{width: 100% !important;display: block;margin: auto !important;padding: 0px;background-position: center;}
#login form{width: auto;/* padding: 0px; */}
}
